<ion-view view-title="BOYOL IKEA">
  <ion-nav-buttons side="left">
    <button class="button icon ion-log-out" ng-click="alert('todo')">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon ion-gear-b" ng-click="alert('todo')">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="用户名">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="密码">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="角色">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="机构">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive">
        登陆
      </button>
    </div>
  </ion-content>
</ion-view>
